@model MVC_ecom.Model.Category



<form action="post">
    <div class = "border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">create category</h2>
        </div>
        <div class="mb-3 row">
            <label asp-for="Name"></label>
            <input asp-for="Name" class = "form control" type="text">
        </div>
        <div class="mb-3 row">
            <label asp-for=" DisplayOrderNumber"></label>
            <input asp-for=" DisplayOrderNumber" class="form control" type="text">
        </div>
       
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary" style="width: 150px;">create</button>
            </div>
            <div class="col-6">
                <a class = "btn btn-secondary border"asp-controller="Category" asp-action="index">back to list</a>
            </div>
        </div>
        
       
        
    </div>
</form>