@model List<MVC_ecom.Model.Category>

<div class = "container">
    <div class="row pt-4 pb-3">
        <div class = "col-6">
<h2 class = "text-primary">category list</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="Category" asp-action="create">create category <i
                    class="bi bi-plus-square-fill"></i></a>
            
        </div>

    </div>    



<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Name</td>
                <td>@obj.DisplayOrderNumber</td>
            </tr>
        }
    </tbody>
</table>
</div>