@model MVC.Model.Category

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Category</h2>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3 row">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" type="text">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="DisplayOrderNumber"></label>
            <input asp-for="DisplayOrderNumber" class="form-control">
            <span asp-validation-for="DisplayOrderNumber" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary" style="width: 150px;">Update</button>
            </div>
            <div class="col-6">
                <a class="btn btn-secondary border" asp-controller="Category" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</form>
@section Scripts { 
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
